{{define "main"}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Go Web App</title>
		<script src="https://unpkg.com/htmx.org@1.9.9"
						integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
						crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
		<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
	</head>
	<body>
		<h1>Go Web App</h1>
		<p>Go Web App is a simple web application written in Go.</p>
		<div hx-ext="debug">
			<button hx-post="/example2" hx-target="#example">Example</button>
			<button hx-post="/example" hx-ext="ignore:debug" hx-target="#example">Example</button>
		</div>
		<div id="example"></div>
		<div hx-ext="response-targets">
			<button hx-post="/example2" hx-target="#response" hx-target-404="#error" >Example</button>
			<button hx-post="/example" hx-target-404="#error" hx-target="#response">Example</button>
		<div id="response"></div>
		<div id="error"></div>
		</div>
		<div hx-ext="response-targets">
			<button hx-post="/register"
							hx-target="#response-div"
							hx-target-5*="#serious-errors"
							hx-target-404="#not-found">
				Register!
			</button>
			<div id="response-div"></div>
			<div id="serious-errors"></div>
			<div id="not-found"></div>
		</div>
	</body>
</html>
{{end}}
